



  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

.main{

  min-height: calc(100vh);
  /* background: #000;  */
  /* color: #fff; */
}
*{

direction: rtl;
font-family: 'Cairo', sans-serif;

}
